[submodule "chathops-api"]

	path = chathops-api

	url = https://github.com/chathops/chathops-api

[submodule "chathops-client"]

	path = chathops-client

	url = https://github.com/chathops/chathops-client
