<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <location path="api">
        <system.webServer>
            <modules runAllManagedModulesForAllRequests="false" />
            <handlers>
                <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
            </handlers>
            <rewrite>
                <rules>
                    <rule name="app" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                        <match url="api" negate="true" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                        <action type="Rewrite" url="index.js" />
                    </rule>
                </rules>
            </rewrite>
        </system.webServer>
    </location>
    <location path="client">
        <system.webServer>
            <modules runAllManagedModulesForAllRequests="false" />
            <handlers>
                <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
            </handlers>
            <rewrite>
                <rules>
                    <rule name="client" enabled="true" patternSyntax="ECMAScript" stopProcessing="true">
                        <match url="client" negate="true" />
                        <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                        <action type="Rewrite" url="index.js" />
                    </rule>
                </rules>
            </rewrite>
        </system.webServer>
    </location>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="index.js" verb="*" modules="iisnode" />
        </handlers>
    </system.webServer>
</configuration>